@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;
}

@theme {
  --animate-fade-in: fade-in 0.5s ease-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@theme {
  --color-accent: #0aa5b5;
  --color-accent-hover: #0a8fa5;
}

@theme {
  --breakpoint-3xl: 120rem;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400 500 600 700;
  src: url("/src/assets/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
}


@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/BebasNeue-Regular.ttf")
    format("truetype");
}